OTC - Withdrawal -  Requirements - output 0
Here's the requirements in over-the-counter withdrawal.
Fill out a Withdrawal Slip and present two photo-bearing IDs, and your passbook or ATM card to the teller for processing processing.